---

---

<script>
  const drawer = document
    .getElementsByClassName("drawer")
    ?.item(0) as HTMLAnchorElement | null;
  const mainGame = document.querySelector(".main-game-container");
  const mybirds = document.querySelector(".my-birds-container");

  drawer?.addEventListener("click", () => {
    if (mainGame?.getAttribute("style") === "display: block;") {
      mainGame?.setAttribute("style", "display: none;");
      mybirds?.setAttribute("style", "display: block;");
    } else {
      mybirds?.setAttribute("style", "display: none;");
      mainGame?.setAttribute("style", "display: block;");
    }
  });
</script>

<nav class="navbar has-shadow" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <div class="title is-5">Daily Chirp</div>
    </a>
    <a class="navbar-item" href="https://github.com/g-suraj/dailychirp">
      <div>source</div>
    </a>
    <a class="navbar-item" href="https://suraj.fyi/">
      <div>about me</div>
    </a>
    <a class="navbar-item drawer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h12q.825 0 1.413.588T20 4v16q0 .825-.587 1.413T18 22zm5-11l2.5-1.5L16 11V4h-5z"
        ></path></svg
      >
    </a>
  </div>
</nav>
