<nav class="navbar has-shadow" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://g-suraj.github.io">
      <div class="title">Daily Chirp</div>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-info" href="https://github.com/g-suraj/dailychirp"
          >Source</a
        >
        <a class="button is-light" href="https://g-suraj.github.io/">About Me</a
        >
      </div>
    </div>
  </div>
</nav>
