<nav class="navbar has-shadow" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://g-suraj.github.io">
      <div class="title is-5">Daily Chirp</div>
    </a>
    <a class="navbar-item" href="https://github.com/g-suraj/dailychirp">
      <div>source</div>
    </a>
    <a class="navbar-item" href="https://g-suraj.github.io/">
      <div>about me</div>
    </a>
  </div>
</nav>
